#####################################################################1
# 	Macro
#####################################################################

[gcode_macro _FILAMENT_BALL]
description: Helper: Round the filament tip
gcode:
	G92 E0   ; zero the extruder
	M83      ; relative extrusion
	G1 E2 F{50*60}
	G1 E-2
	G1 E4
	G1 E-4
	G1 E8
	G1 E-8
	G1 E-25
	G4 P{params.WAIT|default(0)|int * 1000}

[gcode_macro UNLOAD_FILAMENT]
gcode:
	# First, check if the axes are homed.
	{% if "xyz" in printer.toolhead.homed_axes %}
		{% if printer.extruder.can_extrude %}
			# Deactivate filament motion sensor here
			SFS_DISABLE
			
			G90 # Set to absolute positioning.
			M83 # Set extruder to realtive

			G1 Z50 F1500 # Move Z axis to safe height that allows to remove filament from nozzle
			G1 X125 Y50 F3000 # Move toolhead to front of the printer for easier access

			_FILAMENT_BALL WAIT=3
			
			G1 E{-68+8+25} F{50*60}

			{% if printer.gcode_move.absolute_extrude %} 
				M82 
			{% endif %} ; set it back to absolute

		{% else %}    
			{action_respond_info("Extruder Temp to low, please pre-heat first" % printer.configfile.settings.extruder.min_extrude_temp)}
		{% endif %}

	{% else %}
		# raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
		{ action_raise_error("Please home your axes!") }
		M117 Please home first!
	{% endif %}

[gcode_macro LOAD_FILAMENT]
gcode:
	# First, check if the axes are homed.
	{% if "xyz" in printer.toolhead.homed_axes %}
		{% if printer.extruder.can_extrude %}
			# Deactivate filament motion sensor here
			SFS_DISABLE

			G90 # Set to absolute positioning.
			M83 # Set extruder to realtive
			

			G1 Z50 F1500 # Move Z axis to safe height that allows to remove filament from nozzle
			G1 X125 Y50 F3000 # Move toolhead to front of the printer for easier access

			G1 E{-68+8+25} F{50*60}

			# Enable filament motion sensor because loading is complete
			SFS_ENABLE
		{% else %}    
			{action_respond_info("Extruder Temp to low, please pre-heat first" % printer.configfile.settings.extruder.min_extrude_temp)}
		{% endif %}



	{% else %}
		# raise error will stop any macros that clean_nozzle is referenced in from proceeding for safety.
		{ action_raise_error("Please home your axes!") }
		M117 Please home first!
	{% endif %}   