# This file contains common pin mappings for the BIGTREETECH SKR
# MINI. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader".

# The "make flash" command does not work on the SKR mini. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini with that SD card.

# See the example.cfg file for a description of available parameters.

#####################################################################
#  MCU definition
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_33004A001550325635393320-if00
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_39FFD3055254363313720343-if00

#####################################################################
#  General Printer definition
#####################################################################
[printer]
kinematics: corexy
max_velocity: 250
max_accel: 2000
max_z_velocity: 10
max_z_accel: 30
square_corner_velocity: 5.0

#####################################################################
#  Power definitions
#####################################################################
[idle_timeout]
timeout: 3600

#####################################################################
#  Stepper Settings
#####################################################################
[include klipper_config/Voron2/stepper.cfg]

#####################################################################
#  TMC Settings
#####################################################################
[include klipper_config/Voron2/tmc.cfg]

#####################################################################
#  Fan Control & extra Thermistor
#####################################################################
[include klipper_config/Voron2/fan.cfg]

#####################################################################
#  Extruder & Bed
#####################################################################
[include klipper_config/Voron2/heater.cfg]

#####################################################################
#  QGL
#####################################################################
[include klipper_config/Voron2/probe_qgl.cfg]

#####################################################################
#  Macros
#####################################################################
[include klipper_config/Voron2/macro.cfg]

#####################################################################
#  Homing
#####################################################################
[include klipper_config/Voron2/homing.cfg]

#####################################################################
#  LED Control
#####################################################################
[include klipper_config/Voron2/sb_led_control.cfg]

#####################################################################
#  moonraker/mainsail
##################################################################### 
[include klipper_config/Voron2/mainsail.cfg]

#####################################################################
#  File location of stored varibales
######################################################################
# [save_variables]
# filename: ~/klipper_config/.variables.stb

#####################################################################
#  Virtual SD Card
#####################################################################
[virtual_sdcard]
path: ~/gcode_files
